<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SanPhamDemo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.SuaProfileCongty"
            android:exported="false" />
        <activity
            android:name=".activity.SuaFrofileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SuabaidangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PhanhoiCVActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Detail_CvtuyenDung"
            android:exported="false" />
        <activity
            android:name=".dangnhap.DangNhap"
            android:exported="false" />
        <activity
            android:name=".activity.Home"
            android:exported="false" />
        <activity
            android:name=".activity.DetailItemBaiDang"
            android:exported="false" />
        <activity
            android:name=".activity.DetailItemBaiDangCongty"
            android:exported="false" />
        <activity
            android:name=".activity.Test"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".dangnhap.TaikhoanJob"
            android:exported="false" />
        <activity
            android:name=".dangnhap.DangKy"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".dangnhap.ManHinhChao"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>